<!DOCTYPE html>


<html lang="en">
<head>

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  {% block body_block2 %}
  {% endblock %}
</head>
<body>
    

    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="{% url "usipav:base" %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "usipav:calculadora" %}">Calculadora</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "usipav:filmes" %}">Filmes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "usipav:form" %}">Form</a>
        </li>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url "usipav:modelform" %}">ModelForm</a>
        </li>
      </ul>

    <div class="container">
       <img src="https://i.pinimg.com/originals/f2/79/19/f27919cddfd33f055caebad5a4571272.gif" alt="">
    </div>

    <footer class="bg-dark text-white text-center p-3 fixed-bottom">
      <!-- Conteúdo do Rodapé -->
      <p>&copy; 2023 Meu Site. Todos os direitos reservados.</p>
  </footer>
    {% block body_block %}
    {% endblock %}

   
</body>
</html>