<form action="/your-name/" method="post">
    <label for="nome">
        Seu Nome 
    </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <label for="your_name">
        Seu sobrenome
    </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <label for="your_name">
        cpf
    </label>
    <input id="your_name" type="number" name="your_name" value="{{ current_name }}">
    <label for="your_name">
        Descrição
    </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>