{% load static %}
<link rel="stylesheet" href= "{% static "usipav\images\filmes" %}"/>
    
<link rel="stylesheet" href= "{% static "usipav\css\form.css" %}"/>

<div class="alinhamento">
    
    
    <form action="/your-name/" method="post">
        <div class = "titulo">Pedrão</div>
        <label for="nome">
            Seu Nome 
        </label>
        <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
        <label for="your_name">
            Seu sobrenome
        </label>
        <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
        <label for="your_name">
            cpf
        </label>
        <input id="your_name" type="number" name="your_name" value="{{ current_name }}">
        <label for="your_name">
            Descrição
        </label>
        <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
        <div class="central "><input class="butao" type="submit" value="Enviar"></div>
    </form>
</div>